@model List<UResidence.Logbook>
@{
	ViewBag.Title = "LogBook";
	Layout = "/Views/Layout/SecurityGuardLayout.cshtml";
}

<head>

	@*Scripts for dropdown*@
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@using (Html.BeginForm("LogBook", "LogBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()


	<br/>

	<div class="container">
		<div class="modal fade" id="logbookImageModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<label>Valid ID</label>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<center>
							<img height="250" width="250" id="log">
						</center>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="btnCloseImage" name="btnCloseImage" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<img id="hid" name="hid" style="" />

	<div class="container">

		<center> <h2> Logbook </h2></center>
		<hr/>
		<img name="hide" id="hide" hidden />
		<table class="table table-bordered table-striped" id="tableLog">
			<tr>
				<th>Date</th>
				<th>Visitor Name</th>
				<th>Resident Name</th>
				<th>Purpose of Visit</th>
				<th>Image</th>
				<th>Time In</th>
				<th>Time Out</th>
			</tr>
			@foreach (var a in Model)
			{

				if (a.sTimeout == "12:00AM")
				{
					if (a.URL == "none")
					{
			<tr>
				<td> @a.sDate</td>
				<td> @a.VisitorName</td>
				<td>@a.ResidentName </td>
				<td>@a.Purpose </td>
				<td><a href="#" button class="btn btn-default" id="btnViewPic" onclick="ViewPIC('@a.URL')">View</a></td>
				<td> @a.sTimein </td>
				<td><button onclick="Update(@a.Id)" class="btn btn-default" id="btnTimeout" name="btnTimeout">Time Out</button></td>
				@*<td><button class="btn btn-default" id="btnTimeout" value="btnTimeout" onclick="Updatee(@a.Id)">Time Out</button></td>*@			
			</tr>

					}
					else
					{
			<tr>
				<td>@a.sDate</td>
				<td>@a.VisitorName</td>
				<td>@a.ResidentName </td>
				<td>@a.Purpose</td>
				<td><a href="#" class="btn btn-default" id="btnViewPic" onclick="ViewPIC('@a.URL')">View</a></td>
				<td> @a.sTimein</td>
				<td><button onclick="Update(@a.Id)" class="btn btn-default" id="btnTimeout" name="btnTimeout">Time Out</button></td>
			</tr>
					}
				}
				else
				{		
						<tr>
							<td>@a.sDate</td>
							<td>@a.VisitorName</td>
							<td>@a.ResidentName </td>
							<td>@a.Purpose</td>
							<td><a href="#" class="btn btn-default" id="btnViewPic" onclick="ViewPIC('@a.URL')">View</a></td>
							<td> @a.sTimein</td>
							<td> @a.sTimeout </td>
						</tr>
					}
				}
			


			<tr>
				<td><input class="form-control" type="date" id="date" name="date" value="@DateTime.Now" required /></td>
				<td> <input class="form-control" type="text" id="visitorname" name="visitorname" required /></td>
				<td>  <input class="form-control" type="text" id="residentname" name="residentname" required /></td>
				<td><input class="form-control" type="text" id="purpose" name="purpose" required /></td>
				<td><input type="file" id="logbookpic" name="logbookpic"  required/> </td>
				<td><button class="btn btn-default" name="btnAdd" id="btnAdd">Timein</button></td>
				<td></td>
			</tr>
		</table>
	</div>
			}
<script>
	var filei;
	$(document).ready(function () {
		var now = new Date();
		var day = ("0" + now.getDate()).slice(-2);
		var month = ("0" + (now.getMonth() + 1)).slice(-2);
		var today = now.getFullYear() + "-" + (month) + "-" + (day);
		var ti = new Date().toLocaleTimeString();
		document.getElementById('date').value = today;
	})

	var value;

	var ReadImage = function (file) {
		var reader = new FileReader;
		var image1 = new Image;
		reader.readAsDataURL(file);
		reader.onload = function (_file) {
			image1.src = file.target.result;
			image.onload = function () {
				$("#hid").attr('src', _file.target.result);
			}
		}

	};


	function ViewPIC(data) {

		var fullpath = (data).toString();
		var filename = fullpath.replace(/^.*[\\\/]/, '');
		filei = filename;

		var path = "../Content/LogBookImages/" + filei;

		document.getElementById('log').setAttribute('src', path)
		$('#logbookImageModal').modal();
	}

	$('#btnCloseImage').click(function () {

		$('#logbookImageModal').hide();
	}
	);





	function Update(id) {

		var d = new Date(),
			h = (d.getHours() < 10 ? '0' : '') + d.getHours(),
			m = (d.getMinutes() < 10 ? '0' : '') + d.getMinutes();
			s = (d.getSeconds() < 10 ? '0' : '') + d.getSeconds();
		var timenow = h + ':' + m + ':' + s;

		var data = {
			Id: id,
			TimeOut: timenow
		};
		$.ajax({
			type: 'POST',
			url: '/LogBook/Update',
			data: data,
			success: function (data) {
				window.location.href = window.location.href + "?rnd=" + Math.random()
			},
			error: function (error) {
				alert('Failed to update record');
			}
		});
	}






	function Set() {
		$('#tableLog').empty();
		$.ajax({
			type: "GET",
			url: "/LogBook/GetEvents",
			success: function (data) {
				var trHTML = '';
				trHTML = '<tr><th>Date</th> <th>Visitor Name</th> <th>Resident Name</th><th>Purpose of Visit</th><th>Image</th><th>Time In</th> <th>Time Out</th></tr>';
				$.each(data, function (i, v) {

					trHTML += '<tr><td>' + v.sDate + '</td><td>' + v.VisitorName + '</td><td>' + v.ResidentName + '</td><td>' + v.Purpose + '</td><td><button class="btn btn-default" id="btnViewPic" onclick="ViewPIC()">View</button></td><td>' + v.sTimein + '</td><td>' + v.sTimeout + '</td></tr>';


				});
				trHTML += '<tr><td><input class="form-control" type="date" id="date" name="date" required/></td><td> <input  class="form-control" type="text" id="visitorname" name="visitorname" required/></td><td>  <input class="form-control"  type="text" id="residentname" name="residentname" required/></td><td><input  class="form-control" type="text" id="purpose" name="purpose" required/></td><td><input type="file" class="form-control" id="pc" name="pc" onchange="Sample()" /> </td><td><button class="btn btn-default" name="btnAdd" id="btnAdd" onclick="SetText()">Timein</button></td><td></td></tr>';
				$('#tableLog').append(trHTML);

				var now = new Date();
				var day = ("0" + now.getDate()).slice(-2);
				var month = ("0" + (now.getMonth() + 1)).slice(-2);
				var today = now.getFullYear() + "-" + (month) + "-" + (day);
				var ti = new Date().toLocaleTimeString();

				document.getElementById('date').value = today;


			},
			error: function (error) {
				alert('Failed to retrieve the record');
			}
		});

	}

	function SetText() {

		var date = document.getElementById('date').value;
		var ResidentName = document.getElementById('residentname').value;
		var VisitorName = document.getElementById('visitorname').value;
        var Purpose = document.getElementById('purpose').value;
        
		var file = $("#logbookpic").get(0).files;
		var data = new FormData();
		var m = data.append("Image", file[0]);



		document.getElementById('hid').setAttribute('src', fullpath);

		var d = new Date(),
			h = (d.getHours() < 10 ? '0' : '') + d.getHours(),
			m = (d.getMinutes() < 10 ? '0' : '') + d.getMinutes();
		var timenow = h + ':' + m;

		var data = {
			Date: date,
			ResidentName: ResidentName,
			VisitorName: VisitorName,
			Purpose: Purpose,
			Timein: timenow,
			Image: m
		}


		$.ajax({
			type: 'POST',
			url: '/LogBook/Insert',
			data: data,
			success: function (data) {
				if (data == false) {

					alert("Please input all required Textfield");
				}
				else
				{
					window.location.reload();
				}

			},
			error: function (error) {
				alert('Failed to insert a record');
			}
		});

	}


	$('#btnViewPic').click(function () {

		$('#logbookImageModal').modal();
	}
	);
</script>
