@model IEnumerable<object>
@{
	List<Admin> admin = (Model.ToList()[0] as List<Admin>);
	List<UserLogin> userlogin = (Model.ToList()[1] as List<UserLogin>);
	ViewBag.Title = "ViewAccountSetting";
	Layout = "";
	if (Convert.ToInt32(Session["Level"]) == 0)
	{
		Layout = "/Views/Layout/SuperAdminLayout.cshtml";
	}
	else if (Convert.ToInt32(Session["Level"]) == 1)
	{
		Layout = "/Views/Layout/BossManagerLayout.cshtml";
	}
	else
	{
		Layout = "/Views/Layout/AdminLayout.cshtml";
	}


}

<head>
	<style>

		.col-25 {
			float: left;
			width: 25%;
			margin-top: 6px;
			padding-left: 5em;
		}


		.col-75 {
			float: left;
			width: 75%;
			margin-top: 6px;
		}



		label {
			padding: 12px 12px 12px 0;
			display: inline-block;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.button {
			padding: 15px 25px;
			font-size: 15px;
			text-align: center;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: #18ac6f;
			border: none;
			border-radius: 5px;
		}


		.row1 {
			padding-bottom: 10em;
		}


		.button:hover {
			background-color: #46bc8b;
		}
	</style>
</head>





@using (Html.BeginForm("AdminAccountSetting", "AccountSetting", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<br />



	
	<div class="container">
		<h2> Basic Information</h2>
		<hr />
		<div class=".col-sm-6">

			@foreach (var a in admin)
			{
				<input type="hidden" name="aid" id="aid" value="@a.Id" />



				<div class=" row">


					<div class="col-25">

						<label>First Name :</label>

					</div>

					<div class="col-75">
						<input type="text" value="@a.Fname" id="fname" name="fname" class="form-control" />
					</div>

				</div>


				<div class="row">
					<div class="col-25">

						<label>Middle Name :</label>
					</div>

					<div class="col-75">
						<input type="text" value="@a.Mname" id="mname" name="mname" class="form-control" />

					</div>

				</div>





				<div class="row">
					<div class="col-25">

						<label>Last Name :</label>

					</div>

					<div class=" col-75">

						<input type="text" value="@a.Lname" id="lname" name="lname" class="form-control" />

					</div>

				</div>


			}
			@foreach (var l in userlogin)
			{


				<input type="hidden" name="ulid" id="ulid" value="@l.Id" />


				<div class="row">
					<div class="col-25">

						<label>Username :</label>

					</div>

					<div class="col-75">
						<input type="text" value="@l.Username" id="username" name="username" class="form-control" />
					</div>
				</div>



				<div class="row">
					<div class="col-25">

						<label for="Current Password">Current Password :</label>

					</div>

					<div class="col-75">
						<input type="password" value="" id="cp" name="cp" class="form-control" />
					</div>
				</div>




				<div class="row">
					<div class="col-25">

						<label for="New Password">New Password :</label>

					</div>

					<div class="col-75">
						<input type="password" value="" id="np" name="np" oninput="Check()" class="form-control" />
					</div>
				</div>
			}



			<input type="submit" class="button" value="Save Changes" />

			
		</div>
	</div>


	<script type="text/javascript">
		function Check() {
			var cp = document.getElementById('cp').value;
			var np = document.getElementById('np').value;
			if (cp != "") {
				if (cp == np) {
					alert("Current Password and New Password are the same");
					document.getElementById('np').value = "";
				}
			}
		}
	</script>
}
