@model IEnumerable<object>
@{

    List<Owner> owner = (Model.ToList()[0] as List<Owner>);
    List<UserLogin> userlogin = (Model.ToList()[1] as List<UserLogin>);
    ViewBag.Title = "ViewAccountSetting";
    Layout = "~/Views/Layout/LayoutHome.cshtml";
}
@using (Html.BeginForm("OwnerAccountSetting", "AccountSetting", FormMethod.Post))
{
    @Html.AntiForgeryToken()




<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        body {
            /*background-color: #dcedc8;*/
            background: url(../../Content/WebImages/swimmingbg.jpg) no-repeat center center fixed;
            /*-webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;*/
            background-size: cover;
        }

        .pcolor {
            background-color: #fafafa;
        }

        .button {
            padding: 15px 25px;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #18ac6f;
            border: none;
            border-radius: 5px;
        }



            .button:hover {
                background-color: #46bc8b;
            }


    </style>
</head>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />




    <div class="container">
     
        <div class="panel panel-default pcolor" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
            <div class="panel-body" style="margin-left: 10px;margin-right: 10px;">
                <div class="panel-heading" style="background-color:  #1C2331">
                    <font color="white"> <h3 class="panel-title"> Basic Information </h3></font>
                </div>
                <hr />





                @foreach (var a in owner)
    {
            <input type="hidden" name="aid" id="aid" value="@a.Id" />




            <div class="container">




                <div class="col-lg-12">
                    <div class="form-group">

                        <label class="col-lg-4" for="First Name">First Name :</label>

                        <div class="col-lg-6">
                            <input type="text" value="@a.Fname" id="fname" name="fname" class="form-control" />


                        </div>
                    </div>
                </div>




                <div class="col-lg-12">
                    <div class="form-group">

                        <label class="col-lg-4" for="Middle Name">Middle Name :</label>

                        <div class="col-lg-6">
                            <input type="text" value="@a.Mname" id="mname" name="mname" class="form-control" />


                        </div>
                    </div>
                </div>





                <div class="col-lg-12">
                    <div class="form-group">

                        <label class="col-lg-4" for="Last Name">Last Name :</label>

                        <div class="col-lg-6">
                            <input type="text" value="@a.Lname" id="lname" name="lname" class="form-control" />


                        </div>
                    </div>
                </div>

            </div>







}
                @foreach (var l in userlogin)
    {

            <input type="hidden" name="ulid" id="ulid" value="@l.Id" />



            <div class="container">



                <div class="col-lg-12">
                    <div class="form-group">

                        <label class="col-lg-4" for="Username">Username :</label>

                        <div class="col-lg-6">
                            <input type="text" value="@l.Username" id="username" name="username" class="form-control" />


                        </div>
                    </div>
                </div>





                <div class="col-lg-12">
                    <div class="form-group">

                        <label class="col-lg-4" for="CPassword">Current Password :</label>

                        <div class="col-lg-6">
                            <input type="password" value="" id="cp" name="cp" class="form-control" />


                        </div>
                    </div>
                </div>




                <div class="col-lg-12">
                    <div class="form-group">

                        <label class="col-lg-4" for="NPassword">New Password :</label>

                        <div class="col-lg-6">
                            <input type="password" value="" id="np" name="np" oninput="Check()" class="form-control" />


                        </div>
                    </div>
                </div>
            </div>




}

                <br />
                <br />


                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success button" value="Save Changes" />
                </div>


            </div>
        </div>
    </div>



    <script type="text/javascript">
        function Check() {
            var cp = document.getElementById('cp').value;
            var np = document.getElementById('np').value;
            if (cp != "") {
                if (cp == np) {
                    alert("Current Password and New Password are the same");
                    document.getElementById('np').value = "";
                }
            }
        }
    </script>




}




