@model UResidence.Admin

@{

    ViewBag.Title = "AdminView";
    if (Convert.ToInt32(Session["Level"]) == 1)
    {
        Layout = "/Views/Layout/BossManagerLayout.cshtml";
    }
    else if (Convert.ToInt32(Session["Level"]) == 0)
    {
        Layout = "/Views/Layout/SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "/Views/Layout/AdminLayout.cshtml";
    }
}


@*Scripts for dropdown*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html>

<head>



	<style>

		.col-25 {
			float: left;
			width: 25%;
			margin-top: 6px;
		}


		.col-75 {
			float: left;
			width: 75%;
			margin-top: 6px;
		}

		label {
			padding: 12px 12px 12px 0;
			display: inline-block;
		}


		labell {
			/*padding: 12px 12px 12px 0;*/
			display: inline-block;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.button {
			padding: 15px 25px;
			font-size: 15px;
			text-align: center;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: #18ac6f;
			border: none;
			border-radius: 5px;
		}



			.button:hover {
				background-color: #46bc8b;
			}

		.containerAdmin {
			padding-left: 150px;
		}
	</style>
</head>


<body>


	<br />
	<br />
	<br />

	<div class="containerAdmin">
		<h2>Admin</h2>
		@using (Html.BeginForm("Registration", "Admin", FormMethod.Post))
		{
			@Html.AntiForgeryToken()

			<div class="form-horizontal">

				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

			

				@if (Convert.ToInt32(Session["Level"]) == 1)
				{
					<script>
						$(document).ready(function () {
							$('#maincontent').empty();
							$('#maincontent1').empty();
							$('#containerChart').empty();
						});</script>

					<div id="regis" style="padding-left:50%;">
						<br /><br /><br /><br />
				
						<div class="col-25">

							<labell for="First Name">First Name :</labell>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })


						</div>
						

						<div class="col-25">

							<labell for="Middle Name">Middle Name :</labell>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Mname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Mname, "", new { @class = "text-danger" })


						</div>
						

						<div class="col-25">

							<labell for="Last Name">Last Name :</labell>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })


						</div>
					

						<div class="col-25">

							<labell for="Bdate">Birthdate :</labell>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Bdate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Bdate, "", new { @class = "text-danger" })

						</div>
					


						<div class="col-25">

							<labell for="Cel">Cellphone no. :</labell>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.CelNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.CelNo, "", new { @class = "text-danger" })

						</div>
						


						<div class="col-25">

							<labell for="Email">Email :</labell>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


						</div>
						


						<div class="col-25">

							<labell for="typeofadmin">Type of Employee:</labell>

						</div>

						<div class="col-75">
							<select class="form-control" name="typeadmin" id="typeadmin" onchange="updateCheckBox(this)">
								<option>--Select User--</option>
								<option value="3">Cashier</option>
								<option value="2">Finance</option>
								<option value="5">Registration</option>
								<option value="4">Reservation</option>
								<option value="6">Security Guard</option>
							</select>


						</div>
					


						<div class="col-25">
							<h2><labell for="Amenity Name">Module/s Included :</labell></h2>
						</div>
						<br />
					


						<div class="col-75">
							@Html.CheckBoxFor(model => model.ReservationModule, new { @id = "reservation", @name = "reservation", htmlAttributes = new { @required = "required" } }) <b>Reservation Module</b>
							<br />
							@Html.CheckBoxFor(model => model.ReversalModule, new { @id = "reversal", @name = "reversal", htmlAttributes = new { @required = "required" } }) <b>Reversal Module</b>
							<br />
							@Html.CheckBoxFor(model => model.PaymentModule, new { @id = "payment", @name = "payment", htmlAttributes = new { @required = "required" } }) <b>Payment Module</b>
							<br />
							@Html.CheckBoxFor(model => model.LogBookModule, new { @id = "logbook", @name = "logbook", htmlAttributes = new { @required = "required" } }) <b>LogBook Module</b>
							<br />
							@Html.CheckBoxFor(model => model.RegistrationModule, new { @id = "registration", @name = "registration", htmlAttributes = new { @required = "required" } }) <b>Registration Module</b>
							<br />
							<br />



							<input id="btnSave" type="submit" value="Save" class="button" />
							<a href="AdminView" class="button">Cancel</a>

						</div>

					

					</div>
				}
				else
				{
					<div class="row">
						<div class="col-25">

							<label for="First Name">First Name :</label>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })


						</div>
					</div>



					

					<div class="row">
						<div class="col-25">

							<label for="Middle Name">Middle Name :</label>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Mname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Mname, "", new { @class = "text-danger" })


						</div>
					</div>







					<div class="row">
						<div class="col-25">

							<label for="Last Name">Last Name :</label>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })


						</div>
					</div>





					<div class="row">
						<div class="col-25">

							<label for="Bdate">Birthdate :</label>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Bdate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Bdate, "", new { @class = "text-danger" })

						</div>
					</div>



					


					<div class="row">
						<div class="col-25">

							<label for="Cel">Cellphone no. :</label>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.CelNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.CelNo, "", new { @class = "text-danger" })

						</div>
					</div>




				


					<div class="row">
						<div class="col-25">

							<label for="Email">Email :</label>

						</div>

						<div class="col-75">
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


						</div>
					</div>

					<div class="row">
						<div class="col-25">

							<label for="typeofadmin">Type of Employee:</label>

						</div>

						<div class="col-75">
							<select class="form-control" name="typeadmin" id="typeadmin" onchange="updateCheckBox(this)">
								<option>--Select User--</option>
								<option value="3">Cashier</option>
								<option value="2">Finance</option>
								<option value="5">Registration</option>
								<option value="4">Reservation</option>
								<option value="6">Security Guard</option>
							</select>


						</div>
					</div>

					@Html.CheckBoxFor(model => model.ReservationModule, new { @id = "reservation", @name = "reservation", @hidden = true, htmlAttributes = new { @required = "required" } })

					@Html.CheckBoxFor(model => model.ReversalModule, new { @id = "reversal", @name = "reversal", @hidden = true, htmlAttributes = new { @required = "required" } })

					@Html.CheckBoxFor(model => model.PaymentModule, new { @id = "payment", @name = "payment", @hidden = true, htmlAttributes = new { @required = "required" } })

					@Html.CheckBoxFor(model => model.LogBookModule, new { @id = "logbook", @name = "logbook", @hidden = true, htmlAttributes = new { @required = "required" } })

					@Html.CheckBoxFor(model => model.RegistrationModule, new { @id = "registration", @name = "registration", @hidden = true, htmlAttributes = new { @required = "required" } })



					<input id="btnSave" type="submit" value="Save" class="button" />
					<a href="AdminView" class="button">Cancel</a>
				}
			</div>


			<div id="aerror" class="alert alert-danger collapse">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Error!</strong> There is a problem submitting your form
			</div>
			<div id="asuccess" class="alert alert-success collapse">
				<strong>Success!</strong> You have successfully added a Admin
			</div>
			if (ViewBag.Message != null)
			{
				if (ViewBag.Message == true)
				{
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
					</script>
					<script type="text/javascript">
						$(document).ready(function () {

							$('#asuccess').show('fade');

							setTimeout(function () {
								$('#asuccess').hide('fade');
							}, 2000);


						});
					</script>

				}

				else
				{
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
					</script>
					<script type="text/javascript">
						$(document).ready(function () {

							$('#aerror').show('fade');

							setTimeout(function () {
								$('#aerror').hide('fade');
							}, 2000);


						});

					</script>
				}

			}



		}
	</div>
</body>
</html>


<script>
		@*$(document).ready(function () {
		var level = parseInt(@ViewBag.Level);
		console.log(level);
	if (level == 1) {
			var content1 = document.getElementById('regis');
			$('#maincontent1').append(content1);
		}
	});*@

	$("form").submit(function () {
		var reservation = document.getElementById("reservation");
		var reversal = document.getElementById("reversal");
		var payment = document.getElementById("payment");
		var logbook = document.getElementById("logbook");
		var registration = document.getElementById("registration");
		reservation.disabled = false;
		reversal.disabled = false;
		payment.disabled = false;
		logbook.disabled = false;
		registration.disabled = false;
	});


	function checkanddisable() {
		var reservation = document.getElementById("reservation");
		var reversal = document.getElementById("reversal");
		var payment = document.getElementById("payment");
		var logbook = document.getElementById("logbook");
		var registration = document.getElementById("registration");
		reservation.checked = false;
		reversal.checked = false;
		payment.checked = false;
		logbook.checked = false;
		registration.checked = false;
		reservation.disabled = false;
		reversal.disabled = false;
		payment.disabled = false;
		logbook.disabled = false;
		registration.disabled = false;
	}

	function updateCheckBox(toa) {
		var reservation = document.getElementById("reservation");
		var reversal = document.getElementById("reversal");
		var payment = document.getElementById("payment");
		var logbook = document.getElementById("logbook");
		var registration = document.getElementById("registration");
		if (toa.value == 2) {
			checkanddisable();


			reversal.disabled = true;
			reversal.checked = true;
			payment.disabled = true;
			payment.checked = true;
		}
		if (toa.value == 5) {
			checkanddisable();

			registration.checked = true;
			registration.disabled = true;
		}
		else if (toa.value == 4) {
			checkanddisable();

			reservation.disabled = true;
			reservation.checked = true;
		}
		else if (toa.value == 6) {
			checkanddisable();

			logbook.disabled = true;
			logbook.checked = true;
		}
		else if (toa.value == 3) {
			checkanddisable();

			payment.disabled = true;
			payment.checked = true;
		}
	}




</script>