@model UResidence.Tenant

@{
	ViewBag.Title = "TenantAdd";
	Layout = "/Views/Layout/RegistrationLayout.cshtml";
}



<html>

<head>



	<style>

		.col-25 {
			float: left;
			width: 25%;
			margin-top: 6px;
		}


		.col-75 {
			float: left;
			width: 75%;
			margin-top: 6px;
		}

		label {
			padding: 12px 12px 12px 0;
			display: inline-block;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.button {
			padding: 15px 25px;
			font-size: 15px;
			text-align: center;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: #18ac6f;
			border: none;
			border-radius: 5px;
		}



			.button:hover {
				background-color: #46bc8b;
			}
	</style>
</head>


<body>




	<h2>New Tenant</h2>

	@using (Html.BeginForm("TenantAdd", "Tenant", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
	<div class="form-horizontal">

		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })


		<div class="row">
			<div class="col-25">

				<label for="First Name">First Name :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
				@Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })


			</div>
		</div>



		<div class="row">
			<div class="col-25">

				<label for="Middle Name">Middle Name :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.Mname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
				@Html.ValidationMessageFor(model => model.Mname, "", new { @class = "text-danger" })


			</div>
		</div>


		<div class="row">
			<div class="col-25">

				<label for="Last Name">Last Name :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
				@Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })


			</div>
		</div>

		<div class="row">
			<div class="col-25">

				<label for="Birth Date">Birthdate :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.Bdate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
				@Html.ValidationMessageFor(model => model.Bdate, "", new { @class = "text-danger" })


			</div>
		</div>


		<div class="row">
			<div class="col-25">

				<label for="Cel">Cellphone no. :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.CelNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
				@Html.ValidationMessageFor(model => model.CelNo, "", new { @class = "text-danger" })

			</div>
		</div>

		<div class="row">
			<div class="col-25">

				<label for="Email">Email Address :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


			</div>
		</div>

		<div class="row">
			<div class="col-25">

				<label for="Bldg no">Building no. :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.BldgNo, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.BldgNo, "", new { @class = "text-danger" })


			</div>
		</div>


		<div class="row">
			<div class="col-25">

				<label for="Unit no">Unit no. :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.UnitNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
				@Html.ValidationMessageFor(model => model.UnitNo, "", new { @class = "text-danger" })


			</div>
		</div>


		<div class="row">
			<div class="col-25">

				<label for="Lease Start">Lease Start :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.LeaseStart, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.LeaseStart, "", new { @class = "text-danger" })


			</div>
		</div>


		<div class="row">
			<div class="col-25">

				<label for="Bldg no">Lease End :</label>

			</div>

			<div class="col-75">
				@Html.EditorFor(model => model.LeaseEnd, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.LeaseEnd, "", new { @class = "text-danger" })


			</div>
		</div>


		<div class="row">
			<div class="col-75">
				<button type="button" class="btn btn-info" id="btnInsertImage" name="btnInsertImage" data-dismiss="modal">Upload Moving In and Moving Out</button>
			</div>
		</div>
		<br />
		<br />


		@*Modal for Insert Moving and Out*@
		<div class="container">
			<div class="modal fade" id="insertImageModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">

							<label>Note: Must upload moving in and moving out</label>
							<div class="row">
								<div class="col-25">
									<p>
										<label>Upload Moving In :</label>
									</p>
								</div>

								<div class="col-75">
									<input type="file" id="image1" name="image1" />
									@Html.ValidationMessageFor(model => model.MovingIn, "", new { @class = "text-danger" })
								</div>
							</div>


							<div class="row">
								<div class="col-25">
									<p>
										<label>Upload Moving Out :</label>
									</p>
								</div>

								<div class="col-75">
									<input type="file" id="image2" name="image2" />
									@Html.ValidationMessageFor(model => model.MovingOut, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input id="btnConfirm" name="btnConfirm" type="button" value="Confirm" class="btn btn-success" onclick="InsertMoving()" data-dismiss="modal" />
							<button type="button" class="btn btn-danger" id="btnCloseImage" name="btnCloseImage" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<input id="btnSave" type="submit" value="Save" class="button" />
		<a href="TenantView" class="button" value="Cancel">Cancel</a>
	</div>

		<div id="aerror" class="alert alert-danger collapse">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<strong>Error!</strong> There is a problem submitting your form
		</div>
		<div id="asuccess" class="alert alert-success collapse">
			<strong>Success!</strong> You have successfully added a Tenant
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>


		if (ViewBag.AddMessage != null)
		{
			if (ViewBag.AddMessage == true)
			{
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
				</script>
				<script type="text/javascript">
					$(document).ready(function () {

						$('#asuccess').show('fade');

						setTimeout(function () {
							$('#asuccess').hide('fade');
						}, 2000);


					});
				</script>

			}

			else
			{
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
				</script>
				<script type="text/javascript">
					$(document).ready(function () {

						$('#aerror').show('fade');

						setTimeout(function () {
							$('#aerror').hide('fade');
						}, 2000);


					});

				</script>
			}

		}

	}

</body>
</html>


<script>

	function InsertMoving() {
		var file1 = $("#image1").get(0).files;
		var file2 = $("#image2").get(0).files;

		var data = new FormData();
		data.append("Image1", file1[0]);
		data.append("Image2", file2[0]);
		$.ajax({
			type: "POST",
			url: "/Tenant/InsertMoving/",
			data: data,
			contentType: false,
			processData: false,
			success: function (data) {
					alert('Success');


			},
			error: function (error) {
				alert(error);
			}
		});
	}
	$('#btnCloseImage').click(function () {

		$('#insertImageModal').hide();
	}
	);

	$('#btnInsertImage').click(function () {

		$('#insertImageModal').modal();
	}
	);

	$('#btnConfirm').click(function () {

		$('#insertImageModal').hide();
	}
	);
</script>