@model List<UResidence.Tenant>

@{
    ViewBag.Title = "TenantView";
}

<h2>List of Tenant</h2>

    <div class="btn-link">

        <a href="TenantAdd"><input id="btnAdd" type="button" value="ADD NEW TENANT" class="btn btn-success" /></a>

    </div>
    <hr />
    @using (Html.BeginForm("TenantView", "Tenant", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="dl-horizontal">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">UnitNo</th>
                        <th scope="row">BldgNo</th>
                        <th scope="row">  Fname </th>
                        <th scope="row">  Mname </th>
                        <th scope="row"> Lname </th>
                        <th scope="row">Bdate  </th>
                        <th scope="row"> CelNo  </th>
                        <th scope="row"> Email  </th>
                        <th scope="row"> LeaseStart  </th>
                        <th scope="row">  LeaseEnd </th>
                        <th scope="row">Actions</th>
                    </tr>
                </thead>
                @if (Model != null)
                    {
                <tbody>
                    @foreach (Tenant ten in Model)
                    {

                    <tr scope="row">
                        <td>@Html.DisplayFor(model => ten.UnitNo)</td>
                        <td>@Html.DisplayFor(model => ten.BldgNo)  </td>
                        <td>@Html.DisplayFor(model => ten.Fname)  </td>
                        <td>@Html.DisplayFor(model => ten.Mname)  </td>
                        <td>@Html.DisplayFor(model => ten.Lname)</td>
                        <td>@Html.DisplayFor(model => ten.Bdate)  </td>
                        <td>@Html.DisplayFor(model => ten.CelNo)  </td>
                        <td>@Html.DisplayFor(model => ten.Email)  </td>
                        <td>@Html.DisplayFor(model => ten.LeaseStart)  </td>
                        <td>@Html.DisplayFor(model => ten.LeaseEnd)</td>
                        <td>
                            <a class="btn btn-link" href="@Url.Action("TenantEdit","Tenant", new { id = Convert.ToInt32(ten.Id) })"><i class="glyphicon glyphicon-edit"></i>EDIT</a>
                            <a class="btn btn-link" href="@Url.Action("Delete", "Tenant", new { id = Convert.ToInt32(ten.Id) })"><i class="glyphicon glyphicon-trash"></i> DELETE</a>
                        </td>
                    </tr>

                    }
                </tbody>
                }

            </table>
        </div>

        <div id="auerror" class="alert alert-danger collapse">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There is a problem updating a Tenant
        </div>
        <div id="ausuccess" class="alert alert-success collapse">
            <strong>Success!</strong> You have successfully updated a Tenant
        </div>
        <div id="aerror" class="alert alert-danger collapse">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There is a problem deleting your form
        </div>
        <div id="asuccess" class="alert alert-success collapse">
            <strong>Success!</strong> You have successfully deleted a Tenant
        </div>
        if (ViewBag.DeleteMessage != null)
        {
            if (ViewBag.DeleteMessage == true)
            {
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#asuccess').show('fade');

                        setTimeout(function () {
                            $('#asuccess').hide('fade');
                        }, 2000);


                    });
                </script>

            }

            else
            {
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#aerror').show('fade');

                        setTimeout(function () {
                            $('#aerror').hide('fade');
                        }, 2000);


                    });

                </script>
            }
            if (ViewBag.UpdateMessage != null)
            {
                if (ViewBag.UpdateMessage == true)
                {
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $('#ausuccess').show('fade');

                            setTimeout(function () {
                                $('#ausuccess').hide('fade');
                            }, 2000);


                        });
                    </script>
                }

                else
                {
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $('#auerror').show('fade');

                            setTimeout(function () {
                                $('#auerror').hide('fade');
                            }, 2000);


                        });
                    </script>
                }

            }
        }

    }
