@model List<Amenity>


@{
	ViewBag.Title = "Amenity";
	Layout = "~/Views/Layout/ReservationLayout.cshtml";
}

@using (Html.BeginForm("Amenity", "ReservationA", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	@*Scripts for dropdown*@
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<head>
		<style>
			.hidden {
				display: none;
			}

			body {
				background: url(../../Content/HomeImages/bg3.jpg) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		</style>
	</head>


	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<center>

		<br />
		<br />
		<!--Progress bar start-->
		<div>
			<div class="progress" style="width:860px;height:40px;">
				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20"
					 aria-valuemin="0" aria-valuemax="100" style="width:20%;">
					<p style="font-family:Arial, Helvetica, sans-serif; padding-top:1em"> <font color="white" size="3">Choose Amenity</font></p>
				</div>


				<div class="progress-bar" style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
					 aria-valuemin="0" aria-valuemax="100">
					<p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Scheduled Amenity</font> </p>
				</div>


				<div class="progress-bar" style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
					 aria-valuemin="0" aria-valuemax="100">
					<p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Choose Date</font> </p>
				</div>

				<div class="progress-bar " style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
					 aria-valuemin="0" aria-valuemax="100">
					<p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Choose Equipment</font> </p>
				</div>
				<div class="progress-bar  " style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
					 aria-valuemin="0" aria-valuemax="100">
					<p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Summary</font> </p>
				</div>
			</div>

			<!--Progress bar end-->
		</div>
	</center>

	<div class="container">
		<div class="row">
			<input type="hidden" name="ida" id="ida" />
			<input type="hidden" name="ratea" id="ratea" />
			<input type="hidden" name="namea" id="namea" />
			<input type="hidden" name="ratec" id="ratec" />
			<input type="hidden" name="rateaa" id="rateaa" />

			@{

				int ctr = 0;
				foreach (var amn in Model)
				{
					ctr++;
					if (ctr <= 3)
					{


						<div class="col-md-4">
							<div class="w3-container">
								<div class="w3-card-4 w3-dark-grey" style="width:100%">

									<div class="w3-container w3-center">
										<h3> @Html.DisplayFor(model => amn.AmenityName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "Name" } })</h3>
										<img src="@Url.Content(amn.Url)" style="width:90%" />
										<p> @Html.DisplayFor(model => amn.Location, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
										<p> @Html.DisplayFor(model => amn.Capacity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
										@if (amn.AmenityName.ToUpper().Contains("SWIMMING"))
										{
											<p>Adult Rate:   @Html.DisplayFor(model => amn.Adult, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
											<p>Child Rate:   @Html.DisplayFor(model => amn.Child, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
										}
										else
										{
											<p>Rate /hr:   @Html.DisplayFor(model => amn.Rate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
										}
										<div class="w3-section">
											<button class="w3-button w3-green" type="submit" id="btnImg" onclick="GetId('@amn.Id','@amn.Rate','@amn.AmenityName','@amn.Child','@amn.Adult')" name="btnImg">Select</button>
										</div>
									</div>

								</div>
							</div>
						</div>


					}


					else
					{
						ctr = 0;

						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<div class="w3-container">
										<div class="w3-card-4 w3-dark-grey" style="width:50%">

											<div class="w3-container w3-center">
												<h3> @Html.DisplayFor(model => amn.AmenityName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "Name" } })</h3>
												<img src="@Url.Content(amn.Url)" style="width:80%" />
												<p> @Html.DisplayFor(model => amn.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
												<p> @Html.DisplayFor(model => amn.Capacity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
												@if (amn.AmenityName.ToUpper().Contains("SWIMMING"))
												{
													<p>Adult Rate:   @Html.DisplayFor(model => amn.Adult, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
													<p>Child Rate:   @Html.DisplayFor(model => amn.Child, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
												}
												else
												{
													<p>Rate /hr:   @Html.DisplayFor(model => amn.Rate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
												}
												<div class="w3-section">
													<button class="w3-button w3-green" type="submit" id="btnImg" onclick="GetId('@amn.Id','@amn.Rate','@amn.AmenityName','@amn.Child','@amn.Adult')" name="btnImg">Select</button>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
			}

		</div>
	</div>
}

<footer @*class="w3-center  w3-dark-gray w3-padding-16 w3-text-white "*@ style=" background-color:#282828; padding: 10px; text-align: center;color: white;">
	<p> <center><img src="~/Content/logo.png" width="180" height="80" /> </center></p>
	<p><i class="fa fa-map-marker w3-text-green w3-xlarge"></i>  8505 Hon. A Sandoval Ave., Brgy. Pinagbuhatan Pasig City</p>
	<p><i class="fa fa-phone w3-text-green w3-xlarge"></i>  (632) 571-2347, (632) 571-0966</p>
	<p><i class="fa fa-envelope-o w3-text-green w3-xlarge"></i>  palmdalecondominium@yahoo.com</p>
	<p>&copy; @DateTime.Now.Year -Palmdale Heights Condominium</p>

</footer>

<script type="text/javascript">
	function GetId(id, rate, name, ratechild, rateadult) {
		document.getElementById('ida').value = id;
		document.getElementById('ratea').value = rate;
		document.getElementById('ratec').value = ratechild;
		document.getElementById('rateaa').value = rateadult;
		document.getElementById('namea').value = name;
	}
</script>
