@model List<UResidence.Equipment>

@{
	/**/
	ViewBag.Title = "EquipmentView";
}
 <h2>Equipment</h2>
    <div class="btn-link">

        <a href="Registration"><input id="btnAdd" type="button" value="ADD NEW EQUIPMENT" class="btn btn-success" /></a>

    </div>

    @using (Html.BeginForm("EquipmentView", "Equipment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="dl-horizontal">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="row">
                            Stocks
                        </th>
                        <th scope="row">
                            Rate
                        </th>
                        <th scope="row">
                            Name
                        </th>
                        <th scope="row">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Equipment e in Model)
                      {

                <tr scope="row">
                    <td>
                        @Html.DisplayFor(model => e.Stocks)
                    </td>
                    <td>
                        @Html.DisplayFor(model => e.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => e.Name)
                    </td>
                    <td>
                        <a class="btn btn-link" href="@Url.Action("EquipmentEdit", "Equipment", new { eno = Convert.ToInt32(e.Id) })"><i class="glyphicon glyphicon-edit"></i>EDIT</a>
                        <a class="btn" href="@Url.Action("Delete", "Equipment", new { eno = Convert.ToInt32(e.Id) })"><i class="glyphicon glyphicon-trash"></i> DELETE</a>

                    </td>
                </tr>

                       }
                </tbody>
                </table>
        </div>

    
        <div id="auerror" class="alert alert-danger collapse">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There is a problem updating the Equipment
        </div>
        <div id="ausuccess" class="alert alert-success collapse">
            <strong>Success!</strong> You have successfully updated the Equipment
        </div>

        <div id="aerror" class="alert alert-danger collapse">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There is a problem deleting the Equipment
        </div>
        <div id="asuccess" class="alert alert-success collapse">
            <strong>Success!</strong> You have successfully deleted the Equipment
        </div>
        if (ViewBag.DeleteStatus != null)
        {
            if (ViewBag.DeleteStatus == true)
            {
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#asuccess').show('fade');

                        setTimeout(function () {
                            $('#asuccess').hide('fade');
                        }, 2000);


                    });
                </script>
            }

            else
            {
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#aerror').show('fade');

                        setTimeout(function () {
                            $('#aerror').hide('fade');
                        }, 2000);


                    });
                </script>
            }
        }
        if (ViewBag.UpdateMessage != null)
        {
            if (ViewBag.UpdateMessage == true)
            {
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#ausuccess').show('fade');

                        setTimeout(function () {
                            $('#ausuccess').hide('fade');
                        }, 2000);


                    });
                </script>
            }

            else
            {
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#auerror').show('fade');

                        setTimeout(function () {
                            $('#auerror').hide('fade');
                        }, 2000);


                    });
                </script>
            }
        }

    }
