@model List<UResidence.Equipment>

@{
	Layout = "/Views/Layout/AdminLayout.cshtml";
	ViewBag.Title = "EquipmentView";
}
@*Scripts for dropdown*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<center>
	<h2>Equipment</h2>
</center>
	
@*Modal for Viewing Image Equipment*@
<div class="container">
	<div class="modal fade" id="equipmentModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<label>Equipment Image</label>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<center>
						<img height="250px" src="" width="250px" id="equip">
					</center>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="btnCloseImage" name="btnCloseImage" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
@using (Html.BeginForm("EquipmentView", "Equipment", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	
<div class="container">
	<hr />
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Image
				</th>
				<th>
					Description
				</th>
				<th>
					Stocks
				</th>
				<th>
					Rate
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>

		@foreach (Equipment e in Model)
		{
			<tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => e.Name)
                    </td>
                    <td>
                        <center>
                            <button type="button" class="btn btn-info" id="btnEquipImage" name="btnEquipImage" onclick="Set('@e.Url')">View</button>
                        </center>
                    </td>
                    <td>
                        @Html.DisplayFor(model => e.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => e.Stocks)
                    </td>
                    <td>
                       
                        @Html.DisplayFor(model => e.Rate)
                    </td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("EquipmentEdit", "Equipment", new { eno = Convert.ToInt32(e.Id) })"><i class="glyphicon glyphicon-edit"></i></a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Equipment", new { eno = Convert.ToInt32(e.Id) })"><i class="glyphicon glyphicon-trash"></i> </a>

                    </td>
                </tr>
			</tbody>
		}

	</table>
	<div class="btn-link">

		<a href="Registration"><input id="btnAdd" type="button" value="ADD NEW EQUIPMENT" @*style="margin-left:150px;"*@ class="btn btn-success" /></a>

	</div>
</div>


	<div id="auerror" class="alert alert-danger collapse">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Error!</strong> There is a problem updating the Equipment
	</div>
	<div id="ausuccess" class="alert alert-success collapse">
		<strong>Success!</strong> You have successfully updated the Equipment
	</div>

	<div id="aerror" class="alert alert-danger collapse">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Error!</strong> There is a problem deleting the Equipment
	</div>
	<div id="asuccess" class="alert alert-success collapse">
		<strong>Success!</strong> You have successfully deleted the Equipment
	</div>
	<div id="aaerror" class="alert alert-danger collapse">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Error!</strong> There is a problem submitting your Equipment
	</div>
	<div id="aasuccess" class="alert alert-success collapse">
		<strong>Success!</strong> You have successfully added the Equipment
	</div>
	if (ViewBag.DeleteStatus != null)
	{
		if (ViewBag.DeleteStatus == true)
		{
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
			</script>
			<script type="text/javascript">
				$(document).ready(function () {

					$('#asuccess').show('fade');

					setTimeout(function () {
						$('#asuccess').hide('fade');
					}, 2000);


				});
			</script>
		}

		else
		{
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
			</script>
			<script type="text/javascript">
				$(document).ready(function () {

					$('#aerror').show('fade');

					setTimeout(function () {
						$('#aerror').hide('fade');
					}, 2000);


				});
			</script>
		}
	}
	if (ViewBag.UpdateMessage != null)
	{
		if (ViewBag.UpdateMessage == true)
		{
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
			</script>
			<script type="text/javascript">
				$(document).ready(function () {

					$('#ausuccess').show('fade');

					setTimeout(function () {
						$('#ausuccess').hide('fade');
					}, 2000);


				});
			</script>
		}

		else
		{
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
			</script>
			<script type="text/javascript">
				$(document).ready(function () {

					$('#auerror').show('fade');

					setTimeout(function () {
						$('#auerror').hide('fade');
					}, 2000);


				});
			</script>
		}
	}

	if (ViewBag.AddMessage != null)
	{
		if (ViewBag.AddMessage == true)
		{

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
			</script>
			<script type="text/javascript">

				$(document).ready(function () {

					$('#aasuccess').show('fade');

					setTimeout(function () {
						$('#aasuccess').hide('fade');
					}, 20000);

				});
			</script>
		}

		else
		{
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
			</script>
			<script type="text/javascript">

				$(document).ready(function () {

					$('#aaerror').show('fade');

					setTimeout(function () {
						$('#aaerror').hide('fade');
					}, 2000);


				});
			</script>

		}

	}

}

<script>
	function Set(url) {
		URL = url;
		var fullpath = (URL).toString();
		var filename = fullpath.replace(/^.*[\\\/]/, '');
		var path = "../Content/EquipmentImages/" + filename;

		document.getElementById('equip').setAttribute('src', path)

		$('#equipmentModal').modal();
	}

</script>