@{ 
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   
                </button>
                <span class="nav navbar-brand"><img src="~/Content/Logo/logo.png" width="150px" height="40px" /></span>
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">

					<li>@Html.ActionLink("Amenities", "AmenityView", "Amenity")</li>
					<li>@Html.ActionLink("Equipment", "EquipmentView", "Equipment")</li>
					<li>@Html.ActionLink("Admin", "AdminView", "Admin")</li>
					<li>@Html.ActionLink("Tenant", "TenantView", "Tenant")</li>
					<li>@Html.ActionLink("Owner", "OwnerView", "Owner")</li>
					<li>@Html.ActionLink("Calendar", "CalendarView", "Calendar")</li>
					<li>@Html.ActionLink("Account Setting", "ViewAccountSetting", "AccountSetting")</li>
				</ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-chevron-down" style="font-size: 20px;  "></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i>Account Settings</a>
                            <br />
                            <a class="dropdown-item" href="@Url.Action("Index","Login")"><i class="glyphicon glyphicon-log-out" style="font-size:20px"></i>Log-Out</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Palmdale Heights Condominium</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
