@model UResidence.Owner

@{
    ViewBag.Title = "OwnerAdd";

}

<h2>New Owner</h2>

@using (Html.BeginForm("OwnerAdd", "Owner", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Fname, "First Name")

                @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Mname, "Middle Name")

                @Html.EditorFor(model => model.Mname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Mname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Lname, "Last Name")

                @Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Bdate, "Birthday")

                @Html.EditorFor(model => model.Bdate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Bdate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.CelNo, "Cellphone No")

                @Html.EditorFor(model => model.CelNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.CelNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Email")

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-4">
            <div class="form-group">

                <b>Building No</b>
                <br />
                @Html.EditorFor(model => model.BldgNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.BldgNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <b>Unit No</b>
                <br />
                @Html.EditorFor(model => model.UnitNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.UnitNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">

        </div>

    </div>
    <a id="Link">Show Other Fields</a>
    <div id="Other" hidden>

        Sample : <input type="text" id="sample" />
        Telephone :  <input type="tel" id="tel" />

    </div>



    <div class="row">
        <a id="uLink" hidden>Hide Other Fields</a>
        <div class="col-md-12 text-center">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="reset" value="Reset" class="btn btn-default" />
            <a href="OwnerView" class="btn btn-default">Cancel</a>
        </div>
    </div>

</div>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script type="text/javascript">

                $("#Link").click(function () {
                    $("#Other").show();
                    $("#Link").hide();
                    $("#uLink").show();
    });
    $("#uLink").click(function () {
        $("#Other").hide();
        $("#Link").show();
        $("#uLink").hide();
    });
</script>



