@model UResidence.Owner

@{
    ViewBag.Title = "AdminView";
    if (Convert.ToInt32(Session["Level"]) == 1)
    {
        Layout = "/Views/Layout/BossManagerLayout.cshtml";
    }
    else if (Convert.ToInt32(Session["Level"]) == 0)
    {
        Layout = "/Views/Layout/SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "/Views/Layout/AdminLayout.cshtml";
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>


<div class="container">
    <div class="modal fade" id="formModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <label>Owner Registration Form</label>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <center>
                        <img height="250px" src="" width="250px" id="oform">
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnCloseImage" name="btnCloseImage" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("OwnerAdd", "Owner", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
     
        <div class="modal fade" id="AddModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#43a047">


                        <font color="white">
                            <button type="button" class="close" data-dismiss="modal"> <font color="white">  &times; </font></button>
                            <div class="text-center" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; font-size:33px"> ADD NEW OWNER </div>
                        </font>
                    </div>

                    <div class="modal-body form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div class="form-group">

                            <div class="col-sm-12">
                                <labell for="First Name"> <b>First Name : </b></labell>
                            </div>

                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <labell for="Middle Name"><b>Middle Name : </b></labell>
                            </div>

                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Mname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Mname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <labell for="Last Name"><b>Last Name : </b></labell>
                            </div>

                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <labell for="Bdate"><b>Birthdate : </b></labell>
                            </div>

                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Bdate, new { htmlAttributes = new { @class = "form-control", @required = "required", @max = "9999-12-31" } })
                                @Html.ValidationMessageFor(model => model.Bdate, "", new { @class = "text-danger" })


                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <labell for="Cel"><b>Cellphone No. : </b> </labell>
                            </div>

                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.CelNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.CelNo, "", new { @class = "text-danger" })


                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <labell for="Email"><b>Email Address : </b></labell>
                            </div>

                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">

                                <label for="Bldg no">Building no. :</label>

                            </div>

                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.BldgNo, new List<SelectListItem>
                                                            {
                                                                                new SelectListItem() {Text = "1A", Value="1A"},
                                                                                new SelectListItem() {Text = "1B", Value="1B"},
                                                                                new SelectListItem() {Text = "1C", Value="1C"},
                                                                                new SelectListItem() {Text = "2A", Value="2A"},
                                                                                new SelectListItem() {Text = "2B", Value="2B"},
                                                                                new SelectListItem() {Text = "2C", Value="2C"},
                                                                             }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BldgNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">

                                <label for="Unit no">Unit no. :</label>

                            </div>

                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.UnitNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.UnitNo, "", new { @class = "text-danger" })


                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">

                                <label>Registration Form :</label>

                            </div>

                            <div class="col-sm-12">
                                <input type="file" id="Image1" name="Image1" />
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnAdd" name="btnAdd" onclick="Add()">Save</button>
                        <button type="button" class="btn btn-danger" id="btnClose" name="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<br />
<br />


<div class="container">

    <br />
    <br />
    <br />
    <br />


    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:  #1C2331">
            <font color="white"> <h3 class="panel-title"> List of Owners </h3></font>
        </div>

        <div class=" panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="OwnerTable">
                    <thead>
                        <tr>
                            <th scope="col">
                                Building No
                            </th>
                            <th scope="col">
                                Unit No
                            </th>
                            <th scope="col">
                                Full Name
                            </th>
                            <th scope="col">
                                Birthdate
                            </th>
                            <th scope="col">
                                Cellphone No
                            </th>
                            <th scope="col">
                                Email Address
                            </th>
                            <th scope="col">
                                Registration Form
                            </th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>

    <div class="form-inline">

        <button type="button" id="addbtn" class="btn btn-success">
            ADD NEW OWNER
        </button>
        <a class="btn btn-default" href="@Url.Action("Download","Owner")">Download List of Owners</a>

    </div>
</div>

<br /> <br />


<div id="auerror" class="alert alert-danger collapse">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> There is a problem updating the Owner
</div>
<div id="ausuccess" class="alert alert-success collapse">
    <strong>Success!</strong> You have successfully updated the Owner
</div>

<div id="aerror" class="alert alert-danger collapse">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> There is a problem deleting the Owner
</div>
<div id="asuccess" class="alert alert-success collapse">
    <strong>Success!</strong> You have successfully deleted the Owner
</div>
<div id="aaerror" class="alert alert-danger collapse">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> There is a problem submitting your form
</div>
<div id="aasuccess" class="alert alert-success collapse">
    <strong>Success!</strong> You have successfully added a Owner
</div>
@if (ViewBag.DeleteStatus != null)
{
    if (ViewBag.DeleteStatus == true)
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $('#asuccess').show('fade');

                setTimeout(function () {
                    $('#asuccess').hide('fade');
                }, 2000);


            });
        </script>
    }

    else
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $('#aerror').show('fade');

                setTimeout(function () {
                    $('#aerror').hide('fade');
                }, 2000);


            });
        </script>
    }
}
@if (ViewBag.UpdateMessage != null)
{
    if (ViewBag.UpdateMessage == true)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                document.forms[0].reset();
                $('#ausuccess').show('fade');

                setTimeout(function () {
                    $('#ausuccess').hide('fade');
                }, 2000);


            });
        </script>
    }

    else
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $('#auerror').show('fade');

                setTimeout(function () {
                    $('#auerror').hide('fade');
                }, 2000);


            });
        </script>
    }
}

@if (ViewBag.AddMessage != null)
{
    if (ViewBag.AddMessage == true)
    {

        <script type="text/javascript">

            $(document).ready(function () {
                document.forms[0].reset();
                $('#aasuccess').show('fade');

                setTimeout(function () {
                    $('#aasuccess').hide('fade');
                }, 2000);

            });
        </script>
    }

    else
    {
        <script type="text/javascript">

            $(document).ready(function () {

                $('#aaerror').show('fade');

                setTimeout(function () {
                    $('#aaerror').hide('fade');
                }, 2000);


            });
        </script>

    }

}
@if (ViewBag.Alert != null)
{
    if (ViewBag.Alert == true)
    {
        <script>
            $(document).ready(function () {
                $('#AddModal').modal('show');
            });
        </script>
    }
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#OwnerTable').DataTable({
            "ajax": {
                "url": '/Owner/GetOwner',
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": "BldgNo", "autowidth": true },
                { "data": "UnitNo", "autowidth": true },
                { "data": "Fullname", "autowidth": true },
                { "data": "Bdate", render: function (data, type, announcement) { return announcement.FormattedDate }, "autowidth": true },
                { "data": "CelNo", "autowidth": true },
                { "data": "Email", "autowidth": true },
                { "data": "Form", "autowidth": true, render: function (data) { return '<button class="btn btn-info" id="setBtn" onclick="Set(\'' + data + '\')">View</button>' } },
                { "data": "Id", "autowidth": true, render: function (data) { return '<a id="btnUpdate" class="btn btn-primary" href="/Owner/OwnerEdit/' + data + '"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger" href="/Owner/Delete/' + data + '"><i class="glyphicon glyphicon-trash"></i> </a>' } }
            ]
        });
    });
    var fr;
    function Download() {
        $.post("/Owner/Download");
    }

    function Set(form) {
        fr = form;
        var fullpath = (fr).toString();
        var filename = fullpath.replace(/^.*[\\\/]/, '');
        var path = "../Content/OwnerImages/" + filename;

        document.getElementById('oform').setAttribute('src', path)

        $('#formModal').modal();
    }

    //$("form").submit(function (e) {
    //    var today = new Date();
    //    var bdate = document.getElementById('Bdate').value
    //    var date1 = new Date(bdate);
    //    var age = today.getFullYear() - date1.getFullYear();
    //    var m = today.getMonth() + 1 - date1.getMonth() + 1;
    //    var d = today.getDate() - date1.getDate();

    //    if (age < 18 || m < 0) {
    //        alert("18 Years and above only");
    //        e.preventDefault();
    //    }
    //});


    $('#btnCloseImage').click(function () {

        $('#formModal').hide();
    }
    );

    $('#addbtn').click(function () {

        $('#AddModal').modal();
    }
    );

    $('#btnUpdate').click(function () {

        $('#UpdateModal').modal();
    }
    );
</script>
