@model List<UResidence.Logbook>
@{
    Layout = "~/Views/Layout/LayoutHome.cshtml";
}
<head>
    <style>
        body {
       
            background: url(../../Content/WebImages/swimmingbg.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


@using (Html.BeginForm("GuestAdd", "Reserve", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="modal fade" id="logbookImageModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <label>Valid ID</label>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img height="250" width="250" id="log">
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btnCloseImage" name="btnCloseImage" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <body>
        <br />
        <br />
        <br />
        <center>


            <div id="main">
                <br />
                <br />
                <div class="container-fluid">

                    <div class="panel panel-default pcolor" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
                        <div class="panel-body" style="margin-left: 10px;margin-right: 50px; ">

                            <br />
                            <center>
                                <h2><b>  Add Expected Visitor </b></h2>
                            </center>

                            <br />
                            <p>
                                <b> NOTE:</b> The visitor enlisted will be directly submitted to the Security Guards. Kindly indicate correct information of the visitor to avoid inconvenience.
                            </p>

                            <br />

                            <div class="col-lg-6 form-inline">
                                <b>  Date of Visitation:</b>&nbsp;  <input class="form-control" type="date" value="@ViewBag.date" name="gdate" id="gdate" onchange="GenerateTable()" required/>
                            </div>

                            <div class="col-lg-6 form-inline">
                                <b>Purpose of Visit:</b> &nbsp; <input class="form-control" type="text" value="@ViewBag.purp" name="purpose" id="purpose" required/>
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />


                            <div class="table-responsive" style="overflow-x:auto;">
                                <table class="table table-bordered table-striped " name="tableguest" id="tableguest">
                                    <tr>
                                        <th style="width:20px;">Building No</th>
                                        <th style="width:20px;">Unit No</th>
                                        <th style="width:50px;">Guest FullName</th>
                                        <th style="width:50px;">Image</th>
                                        <th style="width:50px;">Actions</th>
                                    </tr>
                                    @{int ctr = 0;
                                        foreach (var data in Model)
                                        {

                                            <tr>
                                                <td>@data.BuildingNo</td>
                                                <td>@data.UnitNo</td>
                                                <td><input type="text" class="form-control" value="@data.VisitorName" id=@ctr.ToString() name=@ctr.ToString() required/></td>
                                                <td><a href="#" class="btn btn-default" id="btnViewPic" onclick="ViewPIC('@data.URL')">View</a></td>
                                                <td>
                                                    @if (data.sTimein == "12:00AM")
                                                    {
                                                        <input class="btn btn-primary" type="button" onclick="Update(@data.Id,@ctr)" value="Update" /> <input class="btn btn-danger" type="button" onclick="Delete(@data.Id)" value="Delete" />
                                                    }
                                                </td>
                                            </tr>
                                            ctr++;
                                        }
                                    }
                                    <tr>
                                        <td>@ViewBag.Bldg</td>
                                        <td>@ViewBag.UnitNo</td>
                                        <td><input type="text" name="vname" id="vname" class="form-control" required /></td>
                                        <td style="width:50px;"><input type="file" name="logbookpic" id="logbookpic" /></td>
                                        <td><button class="btn btn-success" type="submit">Add Guest</button></td>
                                    </tr>
                                </table>

                            </div>

                            <br />



                        </div>
                    </div>
                </div>
            </div>
        </center>

    </body>
}
<script>
    var oldate;
        var ctr = "0";
    function GenerateTable() {
        var trhtml = "";
        var i = 0;
        $('#tableguest').empty();
        oldate = document.getElementById('gdate').value;
        trhtml = '<tr><th>Building No</th><th>Unit No</th><th>Guest FullName</th><th>Image</th><th>Actions</th></tr>';
        $.ajax({
            type: "GET",
            url: "/Reserve/ViewGuest",
            data: { date: oldate },
            success: function (Data) {
                $.each(Data, function (i, v) {
                    i++;
					trhtml += '<tr><td>' + v.BuildingNo + '</td><td>' + v.UnitNo + '</td><td><input type="text" value="' + v.VisitorName + '" id="' + i + '" name="' + i + '" /></td><td><button class="btn btn-default" id="btnViewPic" onclick="ViewPIC()">View</button></td><td><input class="btn btn-primary" type="button" onclick="Update(' + v.Id + ',' + i +')" value="Update"/>&nbsp;&nbsp; <input class="btn btn-danger" type="button" onclick="Delete(' + v.Id +')" value="Delete"/>  </td></tr>';
				});

				trhtml += '<tr><td>@ViewBag.Bldg</td><td>@ViewBag.UnitNo</td><td><input type="text" name="vname" id="vname" /></td> <td><input type="file" class="form-control" id="logbookpic" name="logbookpic"/></td><td><button class="btn btn-success" type="submit">Add Guest</button></td></tr>';
                 $('#tableguest').append(trhtml);
            },
            error: function (data) {
                alert("No record found");
            }
        });

        }
		function Update(id, i) {
			var visitorname = document.getElementById(i).value;

			data = {
				VisitorName: visitorname,
                Id:id
            };
                $.ajax({
                    type: 'POST',
                    url: '/Reserve/UpdateGuest',
                    data: data,
                    success: function (data) {
						GenerateTable();
				
						window.location.href = '/Reserve/GuestAdd';
						alert('Successfuly Updated');
					},
					error: function (data) {
						alert("Not Updated! Error!");
					}
                });
        }
        function Delete(id) {
            $.ajax({
                type: 'POST',
                url: '/Reserve/DeleteGuest',
                data: {id:id},
                success: function (data) {
					window.location.href = '/Reserve/GuestAdd';
					alert('Successfuly Deleted');
                }
            });
		}

	function ViewPIC(data) {
		if (data.includes("data:image") == true) {
			document.getElementById('log').setAttribute('src', data)
		}
		else {
			var fullpath = (data).toString();
			var filename = fullpath.replace(/^.*[\\\/]/, '');
			filei = filename;

			var path = "../Content/LogBookImages/" + filei;

			document.getElementById('log').setAttribute('src', path)
		}
			$('#logbookImageModal').modal();
		}

		$('#btnCloseImage').click(function () {

			$('#logbookImageModal').hide();
		}
		);


</script>



