
@{
	Layout = "";

}



<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head>
    <style>
        .navbar {
           
            padding: 0.5em 2em;
            position:absolute;
            top:0;
            width: 100%;
            background: #1ed88b;
        }
    </style>
</head>

<body>
@*<body background="~/Content/WebImages/bg2.jpg" style=" background-size:cover; background-repeat: no-repeat; ">*@

    <div class="navbar"> 	</div>	

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-dark-gray" style="display:none; top:0; position:fixed; " id="mySidebar">

        <button class="w3-bar-item w3-button w3-large w3-right w3-hover-green"
                onclick="w3_close()">
            Close &times;
        </button>

        <font color="white">	<a href="~/Reserve/Home" class="w3-bar-item w3-button w3-hover-green">Home </a> </font>
        <font color="white">	<a href="~/Reserve/Amenity" class="w3-bar-item w3-button w3-hover-green">Reservation </a> </font>
        <font color="white">    <a href="~/Billing/BillingView" class="w3-bar-item w3-button w3-hover-green">Bills and Payment</a></font>
        <font color="white">    <a href=@Url.Action("OwnerAccountSetting", "AccountSetting") class="w3-bar-item w3-button w3-hover-green"><i class="glyphicon glyphicon-user" style="font-size:20px"></i>  Account Settings</a></font>
        <font color="white">    <a href=@Url.Action("Index","Login") class="w3-bar-item w3-button w3-hover-green"><i class="glyphicon glyphicon-log-out" style="font-size:20px"></i>  Logout</a></font>


    </div>


    <div id="main">

        <div class="w3-dark-gray w3-wide w3-padding w3-card" style="height:8.3%; ">

            <button id="openNav" class="w3-button w3-dark-gray w3-xlarge w3-hover-green" onclick="w3_open()">&#9776;</button> <img src="~/Content/logo.png" width="150" height="50" />


            <a class="w3-bar-item w3-button w3-right w3-hover-green" href="#"><i class="glyphicon glyphicon-bell" style="font-size:20px"></i></a>
            <a class="w3-bar-item w3-button w3-right w3-hover-green" href="#">Contact Us</a>
            <a class="w3-bar-item w3-button w3-right w3-hover-green" href="#">About Us</a>




            @*<a class="w3-bar-item w3-button w3-right w3-hover-green" href="@Url.Action("OwnerAccountSetting","AccountSetting")"><i class="glyphicon glyphicon-user" style="font-size:20px"></i>Account Setting</a>
                <a class="w3-bar-item w3-button w3-right w3-hover-green" href="@Url.Action("Index","Login")"><i class="glyphicon glyphicon-log-out" style="font-size:20px"></i>Log-Out</a>*@
        </div>

    </div>




    <!-- Footer -->
    @*<footer class="w3-center  w3-dark-gray w3-padding-16 w3-text-white">*@
        @RenderBody()
        @*<p>&copy; @DateTime.Now.Year -Palmdale Heights Condominium</p>
    </footer>*@





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>


</body>
</html>
