
@model List<Equipment>
@{
	ViewBag.Title = "Summary";
	Layout = "~/Views/Reserve/Layout.cshtml";
}
@using (Html.BeginForm("Summary", "Reserve", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<head>



		<style>

			.input {
			
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;
				width: 10%;

			}


			.col-25 {
				float: left;
				width: 25%;
				margin-top: 6px;
			}


			.col-75 {
				float: left;
		
				margin-top: 6px;
			}

			label {
				padding: 12px 12px 12px 0;
				display: inline-block;
			}

			.row:after {
				content: "";
				display: table;
				clear: both;
			}

			.button {
				padding: 15px 25px;
				font-size: 15px;
				text-align: center;
				cursor: pointer;
				outline: none;
				color: #fff;
				background-color: #18ac6f;
				border: none;
				border-radius: 5px;
			}



				.button:hover {
					background-color: #46bc8b;
				}
		</style>
	</head>

	<h2>Summary</h2>
	<div class="container">
		<input type="hidden" id="ida" name="ida" />
		<input type="hidden" id="thm" name="thm" />
		<br />

		@*<label for="Amenity">Amenity Name :</label><input type="text" class="form-group" id="amname" name="amname" disabled="disabled" value="@ViewBag.amenname" />*@



		@*<div class="row">
		<div class="col-25">*@



		@*</div>*@

		<div class="col-75">
			<label for="AmenityName">Amenity Name :</label>
		</div>
	
		<div class="input">
			<input type="text" id="amname" name="amname" disabled="disabled" value="@ViewBag.amenname" />
		</div>



		@*</div>*@


		<br />

		@*<label for="Schedule">Schedule :</label><input type="datetime" class="form-group" id="stime" name="stime" disabled="disabled" value="@ViewBag.start" /> - <input type="datetime" class="form-group" id="etime" name="etime" disabled="disabled" value="@ViewBag.end" />*@


		@*<div class="row">
		<div class="col-25">*@



		@*</div>*@

		<div class="col-75">
			<label for="Schedule">Schedule :</label>

		</div>

		<div class="input">
			<input type="datetime" id="stime" name="stime" disabled="disabled" value="@ViewBag.start" /> - <input type="datetime" id="etime" name="etime" disabled="disabled" value="@ViewBag.end" />
		</div>


		<input type="hidden" id="sta" name="sta" />
		<input type="hidden" id="eta" name="eta" />
		<br />



		<div class="col-75">
			<label for="Price">Price :</label>

		</div>
		<br />
		<input type="text" class="input" id="aprice" name="aprice" disabled="disabled" value="@ViewBag.ratea" />
		<input type="hidden" id="ap" name="ap" />




		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		@{



			int ctr4 = 0;




			foreach (var eqp in Model)
			{

				if (ViewBag.quan[ctr4] != 0)
				{

					<div class="col-75">
						<label class="  text-center">@eqp.Name</label>
					</div>

					<div class="col-75">
						<label for="Quantity">Quantity :</label> @Html.EditorFor(model => eqp.Stocks, new { htmlAttributes = new { @class = "form-group", @min = "0", @max = eqp.Stocks, @id = "quantity" + ctr4.ToString(), @required = "required", name = "quantity" + ctr4.ToString(), @Value = ViewBag.quan[ctr4], @disabled = "true" } })
					</div>

					<div class="col-75">
						<label for="Rate">Rate :</label> @Html.EditorFor(model => eqp.Rate, new { htmlAttributes = new { @class = "form-group", @disabled = "true", @id = "rate" + ctr4.ToString(), name = "rate" + ctr4.ToString(), @Value = ViewBag.rat[ctr4] } })
					</div>

					<div class="col-75">
						<label for="SubTotal">Sub Total :</label> @Html.EditorFor(model => eqp.Rate, new { htmlAttributes = new { @class = "form-group", @disabled = "true", @id = "stotal" + ctr4.ToString(), name = "stotal" + ctr4.ToString(), @Value = ViewBag.quan[ctr4] * ViewBag.rat[ctr4] } })
					</div>

					<br />
				}
				else if (ViewBag.quan[ctr4] is null)
				{

				}


				ctr4++;

			}

		}
		<input type="hidden" value=@ctr4.ToString() ; id="txtctrr" name="txtctrr" />

		<div class="col-75">
			<label for="totalamount">Total Amount :</label><input type="text" class="form-group" id="total1" name="total1" disabled="disabled" />
		</div>

		<br />


		<button id="btnSubmit" name="btnSubmit" class="button" type="submit" style="float:left;">Submit</button>


	</div>

	<script>
         var ctr = parseInt($('#txtctrr').val());
    var total = parseInt(@ViewBag.ratea);
    var totale=0;
    $(document).ready(function () {

        for (var pppp = 0; pppp <= ctr - 1; pppp++) {

            var quantity = $('#quantity' + pppp).val();
            var rate = $('#rate' + pppp).val()
            if (quantity != null) {
                totale = quantity * rate;
                total = total + totale;
            }



        }
        document.getElementById('total1').value = total;
    });

	</script>
}