
@{
    ViewBag.Title = "Swimming";
    if (Convert.ToInt32(Session["Level"]) == 8)
    {
        Layout = "~/Views/Layout/LayoutHome.cshtml";
    }
    else if (Convert.ToInt32(Session["Level"]) == 9)
    {
        Layout = "~/Views/Layout/TenantLayout.cshtml";
    }
}



@using (Html.BeginForm("Swimming", "Reserve", FormMethod.Post))
{

    @Html.AntiForgeryToken()


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
            .button {
                padding: 15px 25px;
                font-size: 15px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #09442c;
                border: none;
                border-radius: 5px;
                float: right;
                text-decoration: none;
                text-decoration-color: none;
            }



                .button:hover {
                    background-color: #0e6742;
                }

            div.card {
                width: 710px;
                height: 640px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                padding: 10px;
            }
        </style>




    </head>


    <br />

    <center>
        <div>
            <div class="progress" style="width:860px;height:40px;">
                <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="20"
                     aria-valuemin="0" aria-valuemax="100" style="width:20%;">
                    <a href="@Url.Action("Amenity", "Reserve") " style="text-decoration:none;"><p style="font-family:Arial, Helvetica, sans-serif; padding-top:1em"> <font color="white" size="3">Choose Amenity</font></p></a>
                </div>


                <div class="progress-bar progress-bar-success" style="width:20%;" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100">
                    <a href="@Url.Action("Calendar", "Reserve")" style="text-decoration:none;"><p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Scheduled Amenity</font> </p></a>
                </div>


                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:20%;" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100">
                    <p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Choose Date</font> </p>
                </div>

                <div class="progress-bar " style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100">
                    <p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Choose Equipment</font> </p>
                </div>
                <div class="progress-bar  " style="background-color:#979797; width:20%;" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100">
                    <p style="font-family:Arial, Helvetica, sans-serif;padding-top:1em"> <font color="white" size="3">Summary</font> </p>
                </div>
            </div>
        </div>
    </center>

    <!---Header-->
    <div id="main">

        <header class="w3-display-container w3-content" style="max-width:1500px;">
            <img class="w3-image" src="~/Content/Log/loginbg.jpg" alt="Palmdale" style="min-width:1000px" width="1500" height="800">
            <div class="w3-display-middle w3-padding w3-col l6 m8">
                <div class="w3-container w3-green">
                    <h2><i class="glyphicon glyphicon-tags"></i>   Palmdale Heights Condiminium</h2>
                </div>

                <div class="w3-container w3-white w3-padding-16">
                    @*<form action="/action_page.php" target="_blank">*@

                    <div class="w3-row-padding" style="margin:0 -16px;">
                        <div class="w3-half w3-margin-bottom">
                            <label><i class="glyphicon glyphicon-time"></i> Start Time</label>
                            <input type="date" onselect="Set()" class="w3-input" id="sd" name="sd" required @*style="float:left; width:350px;"*@ />

                            @*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required>*@
                        </div>
                        <div class="w3-half">

                            <label><i class="glyphicon glyphicon-time"></i> End Time</label>
                            <input type="date" class="w3-input" id="ed" name="ed" readonly="readonly" @*style="float:right; width:350px; padding-bottom:14px;"*@ />

                            @*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>*@
                        </div>
                    </div>


                    <!---For Swimming Pool   ADULTS-->
                    <div class="w3-row-padding" style="margin:8px -16px;">
                        <div class="w3-half w3-margin-bottom">
                            <label><i class="glyphicon glyphicon-user"></i> Adults </label>
                            <input type="number" onselect="myFunction()" class="w3-input" name="adult" id="adult" min="0" max="20" required value="0" @*style="float:left; width:350px;"*@>
                        </div>
                        <div class="w3-half">
                            <label><i class="glyphicon glyphicon-ruble"></i> Rate </label>
                            <input class="w3-input w3-border" type="number" value="0" name="rateadult" min="0" max="6">
                        </div>
                    </div>

                    <!----For Swimming Pool KIDS-------->

                    <div class="w3-row-padding" style="margin:8px -16px;">
                        <div class="w3-half w3-margin-bottom">
                            <label><i class="glyphicon glyphicon-user"></i> Kids </label>
                            <input type="number" onselect="myFunction()" class="w3-input" name="child" id="child" min="0" max="20" required value="0" @*style="float:left; width:350px;"*@>

                            @*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required>*@
                        </div>
                        <div class="w3-half">

                            <label><i class="glyphicon glyphicon-ruble"></i> Rate </label>
                            <input type="text" class="w3-input" name="ratechild" id="ratechild" readonly @*style="float:right; width:350px; padding-bottom:14px;"*@>

                            @*<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>*@
                        </div>
                    </div>


                    <!---Rate-->
                    <div class="w3-row-padding" style="margin:16px -16px;">
                        <div class="w3-half w3-margin-bottom">
                            <label>Rate :</label>

                            <input type="text" id="rate" name="rate" class="w3-input" readonly />
                            <input type="hidden" id="tratee" name="tratee" />
                            <input type="time" id="startT" name="startT" value="08:00" hidden />
                            <input type="time" id="endT" name="endT" value="21:00" hidden />
                            <input type="datetime" id="stime" name="stime" hidden />
                            <input type="datetime" id="etime" name="etime" hidden />

                        </div>
                    </div>








                    <button class="button" type="submit"><i class="glyphicon glyphicon-circle-arrow-right"></i> Next</button>


                    @*</form>*@

                </div>
            </div>
        </header>
    </div>







    <div class="third">
        <iframe frameborder=0 style='width:100%;height:500px' src='//www.zeemaps.com/pub?group=3149776&x=121.100670&y=14.550045&z=1&item=197588804'> </iframe>

        <!---Save NATEN TOH AHHKK XDD-->
        @*<iframe frameborder=0 style='width:100%;height:500px' src='//www.zeemaps.com/pub?group=3150648&x=121.099658&y=14.549327&z=0&item=197607366'> </iframe>*@

        <!-- Footer -->
        <footer @*class="w3-center  w3-dark-gray w3-padding-16 w3-text-white "*@ style=" background-color:#282828; padding: 10px; text-align: center;color: white;">
            <p> <center><img src="~/Content/logo.png" width="180" height="80" /> </center></p>
            <p><i class="fa fa-map-marker w3-text-green w3-xlarge"></i>  8505 Hon. A Sandoval Ave., Brgy. Pinagbuhatan Pasig City</p>
            <p><i class="fa fa-phone w3-text-green w3-xlarge"></i>  (632) 571-2347, (632) 571-0966</p>
            <p><i class="fa fa-envelope-o w3-text-green w3-xlarge"></i>  palmdalecondominium@yahoo.com</p>
            <p>&copy; @DateTime.Now.Year -Palmdale Heights Condominium</p>

        </footer>
    </div>




@*<footer class="w3-center  w3-dark-gray w3-padding-16 w3-text-white " style="position:relative; left: 0; bottom: 0; width:100%; text-align:center; overflow:hidden;">
        <p>&copy; @DateTime.Now.Year -Palmdale Heights Condominium</p>
    </footer>*@

<script type="text/javascript">
	var startTime;
	var endTime;
	var selectedValue;
	var startT;
	var endT;
	var startDate;
	var endDate;
	var rate1=@ViewBag.Message;
	var rateA;
	var statuset="Valid";
    var statusst = "Valid";
    document.getElementById('rateadult').value = 100;
    document.getElementById('ratechild').value = 75;


	function ValidateDate() {
		var x = $('#sd').val();
		var y = $('#adult').val();
        var z = $('#child').val();

		if (x == " " && y == " " && z == " ") {
			alert("Please fill up all required fields");
		}
	}

	$(document).ready(
		function () {
			$('#sd').change(function () {
				selectedValue = $(this).val();
				document.getElementById('ed').value = selectedValue;
				startDate = selectedValue;
				endDate = selectedValue;
				var q = new Date();
				var MyDateString = q.getFullYear() + '-' + ('0' + (q.getMonth() + 1)).slice(-2) + '-' + ('0' + q.getDate()).slice(-2);;
				if (startDate < MyDateString)
				{
					alert("the input is earlier than today");
					document.getElementById('sd').value = null;
					document.getElementById('ed').value = null;
				}
				var timeS = document.getElementById('startT').value;
				var dateS = selectedValue;
				var finaldateTimeS = dateS + " " + timeS;
				document.getElementById('stime').value = finaldateTimeS;



				var timeE = document.getElementById('endT').value;
				var dateE = selectedValue;
				var finaldateTimeE = dateE + " " + timeE;
				document.getElementById('etime').value = finaldateTimeE;


			});

		});

	$(document).ready(function () {
		$('#adult').bind('keyup mouseup',function myFunction() {
            selectedValue1 = $('#adult').val();
            var rateAdult = 100;
			var resulta = document.getElementById('adultR');
			var fTotalA = rateAdult * selectedValue1;

            selectedValue2 = $('#child').val();
            var rateChild = 75;
            var resultc = document.getElementById('childR');
            var fTotalC = rateChild * selectedValue2;

			var result = document.getElementById('rate');
            result.value = parseInt(fTotalA) + parseInt(fTotalC);


		});
	});



	$(document).ready(function () {
        $('#child').bind('keyup mouseup', function myFunction() {

            selectedValue1 = $('#adult').val();
            var rateAdult = 100;
            var resulta = document.getElementById('adultR');
            var fTotalA = rateAdult * selectedValue1;

            selectedValue2 = $('#child').val();
            var rateChild = 75;
            var resultc = document.getElementById('childR');
            var fTotalC = rateChild * selectedValue2;

            var result = document.getElementById('rate');
            result.value = parseInt(fTotalA) + parseInt(fTotalC);


		});
	});








	function Check() {

		var stconcat = document.getElementById('sd').value;
		var etconcat = document.getElementById('ed').value
		var cdrate = document.getElementById('rate').value;


		//var a = document.getElementById('adult').value;
		//var c = document.getElementById('child').value;



		//document.getElementById('stime').value = stconcatt;
		//document.getElementById('etime').value = etconcatt;
		document.getElementById('tratee').value = cdrate;
		//document.getElementById('adult').value = a;
		//document.getElementById('child').value = c;
    }




</script>

}