@model List<UResidence.Amenity>

@{
    /**/

    ViewBag.Title = "AmenityView";
}

<h2>Amenity</h2>
<div class="btn-link">
    <a href="AmenityAdd"><input id="btnAdd" type="button" value="ADD NEW AMENITY" class="btn btn-success" /></a>
</div>

<hr />
<div class="dl-horizontal">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    AmenityNo
                </th>
                <th>
                    Description
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (Amenity a in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => a.AmenityNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => a.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => a.Capacity)
                    </td>
                    <td>
                        <a class="btn btn-link" href="@Url.Action("AmenityEdit", "Amenity", new { id = Convert.ToInt32(a.AmenityNo) })"><i class="glyphicon glyphicon-edit"></i>EDIT</a>
                        <a class="btn btn-link" href="@Url.Action("Delete", "Amenity", new { id = Convert.ToInt32(a.AmenityNo) })"><i class="glyphicon glyphicon-trash"></i> DELETE</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
} 