@model UResidence.Amenity

@{
    ViewBag.Title = "AmenityAdd";
}

<h2>Amenity</h2>
@using (Html.BeginForm("AmenityAdd", "Amenity", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <a href="AmenityView" class="btn btn-default">Create</a>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AmenityNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmenityNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmenityNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSave" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="aerror" class="alert alert-danger collapse">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> @ViewBag.ErrorMessages;
    </div>
    <div id="asuccess" class="alert alert-success collapse">
        <strong>Success!</strong> You have successfully added the Amenity
    </div>

    if (ViewBag.Message != null)
    {
        if (ViewBag.Message == true)
        {
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
            </script>
            <script type="text/javascript">
                $(document).ready(function () {

                    $('#asuccess').show('fade');

                    setTimeout(function () {
                        $('#asuccess').hide('fade');
                    }, 2000);


                });
            </script>
        }
        else
        {
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
            </script>
            <script type="text/javascript">
                $(document).ready(function () {

                    $('#aerror').show('fade');

                    setTimeout(function () {
                        $('#aerror').hide('fade');
                    }, 2000);


                });
            </script>
        }

    }


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}