@model UResidence.Amenity

@{
                /**/

                ViewBag.Title = "AmenityView";
}

<h2>AmenityView</h2>
@using (Html.BeginForm("AmenityView", "Amenity", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h4>Amenity</h4>
        <hr />
        <dl class="dl-horizontal">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AmenityNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Capacity)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
       
              
                @foreach (Amenity a in ViewBag.amenity)
                {
                    <tbody>
                        <tr>
                            <td >
                                @Html.DisplayFor(model => a.AmenityNo)
                            </td>
                            <td >
                                @Html.DisplayFor(model => a.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(model => a.Capacity)
                            </td>
                            <td>
                                <a class="btn" href="#"><i class="glyphicon glyphicon-edit"></i> EDIT</a>
                               <a href="@Url.Action("AmenityView","Amenity",new {id =Convert.ToInt32(a.AmenityNo)})"><i class="glyphicon glyphicon-trash"></i> DELETE</a>
                            </td>

                        </tr>
                        </tbody>
                
                }
                    
            </table>


        </dl>
    </div>
    <div class="btn-link">
        @Html.ActionLink("Add", "Reserve")
    </div>
    <script src="jquery.min.js"></script>
    <script>
        $('.table tbody').on('click', '.btn', function () {
            var currow = $(this).closest('tr');
            var col1 = currow.find('td:eq(0)').text();
            alert(col1);
        })
      
    </script>
}