
@{
    Layout = "";

}



@*---Modal for Update Profile Picture---*@
<div class="container">
	<div class="modal fade" id="updateprofilepicture" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<input type="file" id="image" name="image" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="btnUpdateProfile" name="btnUpdateProfile" onclick="UpdateProfilePic()">Update</button>
					<button type="button" class="btn btn-danger" id="btnCloseImageProfile" name="btnCloseImageProfile" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" href="~/Content/Logo/palmdale.png" type="image/x-icon" />
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/css")

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head>
    <style>
        .dropdown-menu {
            background: #2a2a2a;
        }

        .navbar {
            padding: 0.5em 2em;
            position: absolute;
            top: 0;
            width: 100%;
            background: #2a2a2a;
        }

        /* Underline From Center */
        .hvr-underline-from-center {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            overflow: hidden;
        }

            .hvr-underline-from-center:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 50%;
                right: 50%;
                bottom: 0;
                background: #20d13d;
                height: 4px;
                -webkit-transition-property: left, right;
                transition-property: left, right;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
                left: 0;
                right: 0;
            }
    </style>
</head>

<body>


	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-dark-gray" style="display:none; top:0; position:fixed; " id="mySidebar">



		<button class="w3-bar-item w3-button w3-large w3-right w3-hover-green"
				onclick="w3_close()">
			Close &times;
		</button>

		<a href="#" id="OpenModal" name="OpenModal" data-dismiss="modal">
			<p class="w3-center"><img src="@Url.Content(Session["URLL"].ToString())" class="w3-circle" style="height:106px; width:106px" alt="user" /></p>
		</a>
                @*<a class="navbar-brand" href="#">WebSiteName</a>*@
                <center><img src="~/Content/logo.png" width="190" height="70" /> </center>

		<font color="white">

			<a href="~/Calendar/CalendarView" class="w3-bar-item w3-button  w3-hover-green">Calendar</a>
			<a href="~/Finance/ViewCashier" class="w3-bar-item w3-button  w3-hover-green">Manage Cashier</a>
			<a href="~/ReversalRecord/Record" class="w3-bar-item w3-button  w3-hover-green">Reversal List</a>
		</font>
	</div>

                        <ul class="dropdown-menu">

                            <li>
                                <a href="#" id="OpenModal" name="OpenModal" data-dismiss="modal">
                                    <p class="w3-center"><img src="~/Content/TenantImages/user.png" class="w3-circle" style="height:106px; width:106px" alt="user" /></p>
                                </a>
                            </li>


			<button id="openNav" class="w3-button w3-dark-gray w3-xlarge w3-hover-green" onclick="w3_open()">&#9776;</button> <img src="~/Content/logo.png" width="150" height="45" />

			<a class="w3-bar-item w3-button w3-right" href="@Url.Action("Index","Login")"><i class="glyphicon glyphicon-log-out" style="font-size:20px"></i>Log-Out</a>
			<a class="w3-bar-item w3-button w3-right" href="@Url.Action("AdminAccountSetting","AccountSetting")"><i class="glyphicon glyphicon-user" style="font-size:20px"></i>Account Setting</a>
			<a class="w3-bar-item w3-button w3-right" href="#"><i class="glyphicon glyphicon-bell" style="font-size:20px"></i></a>
		</div>


    @*<div class="container">
                <h3>Collapsible Navbar</h3>
                <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).
                <p>Only when the button is clicked, the navigation bar will be displayed.</p>
            </div>
        </div>*@


















    @*<div id="main">

            <div class="w3-dark-gray w3-wide w3-padding w3-card" style="height:8.3%; ">
                <span id="openNav" class="w3-button w3-dark-gray w3-xlarge w3-hover-green" onclick="w3_open()">&#9776;</span> <img src="~/Content/logo.png" width="150" height="50" />
                <a class="w3-bar-item w3-button w3-right w3-hover-green" href="#"><i class="glyphicon glyphicon-bell" style="font-size:20px"></i></a>
                <a class="w3-bar-item w3-button w3-right w3-hover-green" href="#" name="btnContact" id="btnContact" style="text-decoration-color:none; text-decoration:none;">Contact Us</a>
                <a class="w3-bar-item w3-button w3-right w3-hover-green" href="#" name="btnAbout" id="btnAbout" style="text-decoration-color:none; text-decoration:none;">About Us</a>

            </div>






        </div>*@





    <!-- Footer -->
    @*<footer class="w3-center  w3-dark-gray w3-padding-16 w3-text-white">*@
    @RenderBody()
    @*<p>&copy; @DateTime.Now.Year -Palmdale Heights Condominium</p>
        </footer>*@





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
		function w3_open() {
			document.getElementById("main").style.marginLeft = "25%";
			document.getElementById("mySidebar").style.width = "25%";
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("openNav").style.display = 'none';
		}
		function w3_close() {
			document.getElementById("main").style.marginLeft = "0%";
			document.getElementById("mySidebar").style.display = "none";
			document.getElementById("openNav").style.display = "inline-block";
		}


		function UpdateProfilePic() {
			var id = @Session["UID"];

			var file = $("#image").get(0).files;
			var data = new FormData();
			data.append("Image", file[0]);
			data.append("Id", id);
			$.ajax({
				type: "POST",
				url: "/finance/UpdateImage/",
				data: data,
				contentType: false,
				processData: false,
				success: function (data) {
					if (data == true) {
						alert('Success');
						window.location.reload();
						window.location.href = window.location.href + "?rnd=" + Math.random()

					}
				},
				error: function (error) {
					alert(error);
				}
			});
		}

		$('#btnCloseImageProfile').click(function () {

			$('#updateprofilepicture').hide();
		}
		);


		$('#OpenModal').click(function () {

			$('#updateprofilepicture').modal();
		}
		);
	</script>




</body>
</html>
