
@{
	ViewBag.Title = "SuperAdminLayout";
}
@*---Modal for Update Profile Picture---*@
<div class="container">
	<div class="modal fade" id="updateprofilepicture" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<input type="file" id="image" name="image" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="btnUpdateProfile" name="btnUpdateProfile" onclick="UpdateProfilePic()">Update</button>
					<button type="button" class="btn btn-danger" id="btnCloseImageProfile" name="btnCloseImageProfile" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!DOCTYPE html>
<html>



<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <title>Palmdale Heights</title>
    <link rel="icon" href="~/Content/Logo/palmdale.png" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Scripts for dropdown*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


    <style>
    </style>
</head>

<body>

    <div class="container">
        <div class="modal fade" id="updateprofilepicture" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="file" id="image" name="image" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnUpdateProfile" name="btnUpdateProfile" onclick="UpdateProfilePic()">Update</button>
                        <button type="button" class="btn btn-danger" id="btnCloseImageProfile" name="btnCloseImageProfile" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <center><img src="~/Content/logo.png" width="190" height="70" /> </center>
            </div>
            <br />
            <div class="collapse navbar-collapse" id="myNavbar">

                <center>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Admin/AdminView">Home</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"> </span> My Profile <span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" id="OpenModal" name="OpenModal" data-dismiss="modal">
                                        <p class="w3-center"><img src="@Url.Content(Session["URLL"].ToString())" class="w3-circle" style="height:106px; width:106px" alt="user" /></p>
                                    </a>
                                </li>
                                <li><a href=@Url.Action("AdminAccountSetting", "AccountSetting") style="text-decoration:none; text-decoration-color:none;"> <span class="glyphicon glyphicon-cog"></span> Account Settings</a> </li>
                                <li><a href=@Url.Action("Index","Login") class="hvr-underline-from-center" style="text-decoration:none; text-decoration-color:none;"> <span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                            </ul>

                        </li>
                    </ul>
                </center>



            </div>
        </div>
    </nav>



    @*<div class="col-sm-12">


            <center><h2>Super Admin Management</h2> </center>
            <hr />
        </div>



        <br />*@







    @RenderBody()  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>


		function UpdateProfilePic() {
			var id = @Session["UID"];

			var file = $("#image").get(0).files;
			var data = new FormData();
			data.append("Image", file[0]);
			data.append("Id", id);
			$.ajax({
				type: "POST",
				url: "/SuperAdmin/UpdateImage/",
				data: data,
				contentType: false,
				processData: false,
				success: function (data) {
					if (data == true) {
						alert('Success');
						window.location.reload();
						window.location.href = window.location.href + "?rnd=" + Math.random()

					}
				},
				error: function (error) {
					alert(error);
				}
			});
		}


		$('#btnCloseImageProfile').click(function () {

			$('#updateprofilepicture').hide();
		}
		);


		$('#OpenModal').click(function () {

			$('#updateprofilepicture').modal();
		}
		);


    </script>




</body>
</html>

